#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#container-top{
  width: 100%;
  height: 60px;
  padding: 15px;
  border: 1px solid black;
}
#container-top #botoes{
  float: right,
}
ion-icon{
  border: 1px solid red;
  height: 30px;
  width: 30px;
}
#container-top ion-buttons ion-input{
  border: 1px solid green;
  height: 30px;
  position: center;
  width: 30%;
}
#container-top ion-list ion-item{
  margin: 10px 0px 0px 10px;
}
ion-content{
  --ion-background-color:#B87333;
}